<mat-toolbar color="primary">
    <span style="cursor: pointer;" routerLink="/">ödev şeysi</span>

    <button mat-button routerLink="/">
      Frekans Hesaplama
    </button>

    <button mat-button routerLink="/keyword">
      Anahtar Kelime Çıkarma
    </button>

    <button mat-button routerLink="/twoUrl">
      İki URL Arasındaki Benzerlik
    </button>

    <button mat-button routerLink="/indexOrder">
      Indexleme ve Sıralama
    </button>

    <button mat-button routerLink="/semantic">
      Semantik Analiz
    </button>

</mat-toolbar>